In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Import CSV
goal_keeper = pd.read_csv('../Champions_League_2022/Resources/goalkeeping.csv')
goal_keeper.head()

,serial,player_name,club,position,saved,conceded,saved_penalties,cleansheets,punches made,match_played
0,1,Courtois,Real Madrid,Goalkeeper,61,14,1,5,4,13
1,2,Rulli,Villarreal,Goalkeeper,41,16,0,3,12,12
2,3,Vlachodimos,Benfica,Goalkeeper,38,17,1,5,5,10
3,4,Athanasiadis,Sheriff,Goalkeeper,29,8,0,1,2,5
4,5,Mignolet,Club Brugge,Goalkeeper,28,20,0,0,1,6

In [9]:
# Five best goalies based on 'saved'
five_best = goal_keeper[['player_name', 'saved']]
five_best.head()

    player_name  saved
0      Courtois     61
1         Rulli     41
2   Vlachodimos     38
3  Athanasiadis     29
4      Mignolet     28

In [10]:
# Five worst goalies based on Saves
five_worst = goal_keeper[['player_name', 'saved']]
five_worst.tail()

   player_name  saved
48    Martínez      3
49       Onana      2
50       Perin      2
51  Shevchenko      1
52      Carson      1